.finalize-container {
    max-width: 90%;
    margin-top: 85px;
}


.form-header {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    color: #707070;
}

.form-text {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: left;
    color: #707070;
}