.home-container {
  max-width: 90%;
  margin-top: 85px;
}

.home-donationbar-header {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-align: left;
  color: #707070;
}

.home-donationbar-text {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #707070;
}

.share-button {
  border-radius: 20px;
  background: #fff;
  border: 1px solid #707070;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
  width: 40%;
  margin: 10px;
}

.share-button-text {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: #707070;
}

.about-us-header {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: left;
  color: #707070;
}

.about-us-text {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: left;
  color: #707070;
}

.footer-text {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #707070;
  margin-bottom: 50px;
}
