.home-donationbar-header-obs {
  font-family: "Concert One";
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: left;
  color: #fff;
}

.home-donationbar-text-obs {
  font-family: "Concert One";
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  text-align: left;
  color: #fff;
}
